@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;    
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
    outline: none;
}

$white: #fff;
$black: #000222;
$green: rgb(26, 182, 26);
$grey: #444; 
$lightgreen: lightgreen;
$lightgreen-hover: rgb(183, 245, 183);
$green-filter: invert(54%) sepia(66%) saturate(5803%) hue-rotate(94deg) brightness(115%) contrast(80%);

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid {
    display: grid;
    justify-content: center;
    align-items: center;
}

body {
    overflow-x: hidden;
}

.app {
    @include flex;
    flex-direction: column;
}